.header {
	padding: 0;
	height: 100vh;
	&__box {
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		height: 100%;
		position: relative;

		&::before {
			content: "";
			background-image: linear-gradient(
					to bottom,
					rgba(255, 255, 255, 0.137),
					rgba(255, 255, 255, 0.082)
				),
				url("../img/carousel-1.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0.15;
		}
	}
	&__text {
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		z-index: 2;
	}
	&__title {
		font-size: 5rem;
		padding: 1rem 0;
	}

	&__info {
		text-align: center;
		font-size: 1.8rem;
		font-weight: 500;
		width: 50%;
	}
}
