/* .tour-box {
  width: 38rem;
  border-radius: 5px;
  box-shadow: 0 0.5rem 2rem rgba($color-black, 0.4);
  text-align: center;
  display: flex;

  flex-direction: column;

  margin: 3rem 0;

  &__header {
    position: relative;
  }

  &__header-brand {
    width: 100%;
    height: 100%;
    padding: 10rem;
    position: relative;
  }

  &--item1 {
    &__header-brand {
      background-image: linear-gradient(
          to right,
          rgba($color-orange-light, 0.6) rgba($color-orange-light, 0.2)
        ),
        url("../Img/nat-5.jpg");

      background-repeat: no-repeat;
      background-size: cover;
      background-size: cover;
      clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);
    }
  }

  &--item2 {
    &__header-brand {
      background-image: linear-gradient(
          to right,
          rgba($color-primary, 0.5) rgba($color-primary-dark, 0.2)
        ),
        url("../Img/nat-6.jpg");

      background-repeat: no-repeat;
      background-size: cover;
      background-size: cover;
      clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);
    }
  }

  &--item3 {
    &__header-brand {
      background-image: linear-gradient(
          to right,
          rgba($color-blue, 0.5) rgba($color-blue, 0.2)
        ),
        url("../Img/nat-7.jpg");

      background-repeat: no-repeat;
      background-size: cover;
      background-size: cover;
      clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);
    }
  }

  &__header-title {
    text-transform: uppercase;
    color: $color-white;
    padding: 1rem 2rem;
    text-align: right;

    font-size: 2.5rem;
    font-weight: 300;
    position: absolute;
    display: block;
    right: 2rem;
    bottom: 2.5rem;

    &--orange {
      background-color: rgba($color-orange-dark, 0.9);
    }

    &--green {
      background-color: rgba($color-primary, 0.9);
    }

    &--blue {
      background-color: rgba($color-blue, 0.9);
    }
  }
  &__header-title-down {
    text-transform: uppercase;
    color: $color-white;
    padding: 1rem 2rem;
    padding-top: 0.5rem;
    text-align: right;
    background-color: rgba($color-orange-dark, 0.9);
    font-size: 2.5rem;
    font-weight: 300;
    position: absolute;
    display: block;
    right: 0rem;
    bottom: -5rem;
    &--blue {
      background-color: rgba($color-blue, 0.9);
    }
    &--green {
      background-color: rgba($color-primary, 0.9);
    }
    &--orange {
      background-color: rgba($color-orange-dark, 0.9);
    }
  }

  &__body {
    padding: 3rem 0;
  }

  &__body-list {
    list-style: none;
  }

  &__body-item {
    font-size: 1.7rem;
    padding: 2rem;
    display: block;
    width: 100%;
    position: relative;

    &:not(:last-child)::after {
      content: "";
      background-color: rgba($color-black, 0.1);
      height: 1px;
      width: 50%;
      position: absolute;
      bottom: 1rem;
      left: 0;
      transform: translateX(50%);
    }
  }
}
 */
